@model FindABand.ViewModels.UserAccountDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserAccount</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.State)
        </dd>
    </dl>

    @foreach (var x in Model.Account.Songs)
    {
        <audio controls>
            <source src="/@x.FileName" type="audio/mpeg">
        </audio>
        <br />
        <a href="/@x.FileName"><h4>@x.FileName</h4></a>
        <hr />
        <br/>
    }
</div>
<a href="/invite/usercreate?userId=@Model.Account.ProfileId">Invite to Connect</a>
<div>
    @if (Model.Bands.Count() != 0)
    {
        <div class="col-md-4">
            <form action="/invite/bandcreate" method="get">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Send Request for</label>
                    <select asp-for="bandId" class="instruments">
                        @foreach (var band in Model.Bands)
                        {
                            <option value="@band.BandId">
                                @band.Name
                            </option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input id="userId"
                           name="userId"
                           type="hidden"
                           value="@Model.Account.ProfileId" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    }

    @if (Model.Bands.Count() == 0)
    {
        <h4>It Looks like you don't have any bands.<br /> Would You like to create One?</h4>
        <a href="/band/create"><input type="button" value="Create" /></a>
    }

    @if (Model.inviteId != null)
    {
        <h4>This User sent you an invite <a href="/invite/details/?id=@Model.inviteId" style="color: green">View Invite</a></h4>
    }
</div>
